html 
    include includes/head.pug
    body 
        div(container-fluid )
            div(id="sidebar")
                div(class="sidebar-header row")
                    div(class="col-3")
                        img(src="../images/lucaLogo.png")


        div(class="container-fluid header")
            div(class="row")
                div(class="col-12 notifications")
                    i(class="far fa-bell bell")
                    i(class="fas fa-user-circle user")